@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Permanent+Marker&display=swap');

.home-title{
    color: #475228;
    font-family: 'Permanent Marker', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}



#content{
    max-width: 1600px;
    margin: 0 auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
    height: 700px;
    padding-bottom: 200px;

    
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    color: white;
    
}



main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #465775;
    grid-column: 1/11;
    grid-row: 4/9;
}

body{
    display: grid;
    background-color: #EAECEC;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header{
    background-color: #475228;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color: #7E8B56;
}

nav {
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 80px;
}

main section img{
    box-sizing: border-box;
}

.msg{
    background-color: #7E8B56;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2{
    color: #475228;
}

.msg p{
    color: #EAECEC;
    font-size: .8em;
    padding-bottom: 15px;

}

footer{
    background-color: #475228;
    color: #EAECEC;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #EAECEC;
    text-decoration: none;
}

footer a:hover{
    color: #7E8B56
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}
h4{
    color: #7E8B56;
}

.icon{
    width: 80px;
    padding-top: 10px;
    
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;

}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.mainfork{
    padding-left: 100px;
    grid-column: 1/3;
    grid-row: 1/4;
    
}

.mainforkparagraph{
    grid-column: 7/11;
    grid-row: 1/2
}



.graycanyon{
    grid-column: 7/11;
    grid-row: 7/8;
    padding-top: 150px;
}

.graycanyonparagraph{
    padding-top: 150px;
    padding-left: 100px;
    grid-column: 1/5;
    grid-row: 7/8;
}


.grandcanyon{
    grid-column: 1/5;
    grid-row: 9/11;
    padding-top: 150px;
}

.grandcanyonparagraph{
    grid-column: 7/11;
    grid-row: 9/11;
    padding-top: 150px;
}







@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
            